<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='more.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <h1 class='pistis'>◉Pistis - Empowering Your Employees</h1>

  <h3 id='txt'>
    You've caught us before we are ready! We are working hard to get 
    Pistis<span class="brmedium"></span>ready for you, and your employees. 
    If you'd like us to send you<span class="brmedium"></span> a reminder when we're ready, just put your email below:
  </h3>
 <form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.username(class="login") }}
    {{ form.submit(class="login2") }}
 </form>

</body>
</html>
