<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<title>
    Pistis | Payroll Software
</title>

<body>
    <header>
        <h1 class='pistis'>◉Pistis</h1>
        <div class="buts">   
            <a href='/more' id="sign">Sign up</a>
            <a href='/more' id="login">Login</a>
        </div> 
        <div class="headers">
            <a href='/more' id='features'>Features</a>
            <a href='/more' id='pricing'>Pricing</a>
            <a href='/jobs' id='jobs'>Jobs</a>
        </div>    
    <section\>
        <h1 class="header">
        The Payroll Software
        Your Employee's Need
        </h1>
        <h3 class='h3'>
            Enable your employees to choose when and where they are paid,
            <span class="brmedium"></span>
             without the hassle of dealing with a bank.
        </h3>
        <div id='btn'>
            <a class="learn" href='/more'>Learn More</a>
        </div>
    </section>
    <p class='break'></p>
   <div class="next">
        <h2>
            Technology that boosts <u>productivity</u>
            <span class="brmedium"></span>
            and <u>engagement</u> in the workplace
        </h2>
        <div class='txt'>
            <h5 class='txt'>
                With over 84% of American's wishing they could choose when their salaries were paid, Pistis provides technolgy that does exactly that; improving trust between co-workers.
            </h5>
        </div>    
        <div id='bttn'>
            <a class="learn" href='/more'>Read More</a>
        </div>
    </div>
<div class='nxt'>
    <h2 class='nxtt'>Democratising the payroll</h1>
        <div class='nxttt'>
            <br>
            <h1>Simplicity</h1>
            <h3>Pay your employees via simple, easy to use cloud software.</h3>
            <br>
            <h1>Employee Autonomy</h1>
            <h3>Enable your employee's to choose how often they are paid through an effortless text message.</h3>
            <br>
            <h1>Compliance</h1>
            <h3>Stay up to date with all new tax regulations, allowing you to tick all the regulatory boxes.</h3>
        </div>    
</div>

<div class="ftr">
    <h1 class='ftrr'>Empower your employees</h1>
    <h3 class='ftrrr'>With Pistis, you can enable your employees to choose how
        <span class="brmedium"></span>often they are paid. Connect to Pistis and boost 
        <span class="brmedium"></span>workplace trust and productivity today.</h3>
    <div id='btnf'>
        <a class="learnf" href='/more'>Get Started</a>
    </div>
</div>
</body>
</html>